/*@media all and (max-width: 2290px) and (min-width: 1170px){*/
	body{
		background: url(../images/background.jpg); 
		/*background-size: 1100px 1300px;*/
		color: white;
		font-family: cursive;
	}

	.box{
		border: solid;
		padding-top: 20px; 
		color: white;
		background: black;
		opacity: 0.4;
		width: 240px;
		height: 250px;
		margin-left: 300px;
		margin-top: 110px;
		border-radius: 10px;
		padding-left: 5px;
		text-align: center;
		position: relative;
	}

	button{
		font-size: 30px;
		border-radius: 10px;
		margin: 5px;
		margin-top: 20px;
		position: relative;
	}

	.title{
		margin-top: 120px;
		margin-left: 300px;
		opacity: 0.8;

	}
	p{
		margin-right: 250px;
		float: right;

	}
	.title1, .title2, .title3, .title4, .title5, .title6, .title7 {
		opacity: 0.6;
		font-size: 20px;
	}
	.playlist{
		margin-left: 100px;
		opacity: 1;
		font-size: 30px;
	}
/*}*/
@media (max-width: 1170px) and (min-width: 590px){
	.box{
		position: fixed;
		margin-top: 110px;
	}
		p{
		margin-right: 250px;
		margin-top: 380px;
		float: right;
	}
	.title1, .title2, .title3, .title4, .title5, .title6, .title7 {
		opacity: 0.6;
		font-size: 20px;
	}
	.playlist{
		margin-left: 100px;
		opacity: 1;
		font-size: 30px;
	}
}
@media (max-width: 640px){
	body{
		margin-left: 60px;
	}
	.box{
		position: fixed;
		float: left;
		margin: 0px;
		margin-top: 80px;
	}
	p{
		margin-right: 250px;
		margin-top: 380px;
		float: left;
		position: fixed;
	}
	.title1, .title2, .title3, .title4, .title5, .title6, .title7 {
		margin-top: 15px;
		opacity: 0.6;
		font-size: 20px;
		position: fixed;
	}
	.playlist{
		margin-left: 100px;
		opacity: 1;
		font-size: 30px;
		position: fixed;
	}
	.title{
		float: left;
		position: fixed;
		margin: 0px;
		margin-top: 20px;
	}

}