
$text-color: white;
$text-font: cursive;

body{
	background: url(../images/background.jpg); 
	/*background-size: 1100px 1300px;*/
	color: $text-color;
	font-family: $text-font;
}

.theme, .play-theme, .add-song, .adding{
	font-size: 20px;
	border: solid; 
	color: white;
	background: black;
	opacity: 0.4;
	border-radius: 10px;
	padding-left: 5px;
	text-align: center;
	margin-top: 2px;

}


