

.box{
	border: solid;
	padding-top: 20px; 
	color: white;
	background: black;
	opacity: 0.4;
	width: 240px;
	height: 280px;
	margin-left: 315px;
	margin-top: 20px;
	border-radius: 10px;
	padding-left: 5px;
	text-align: center;
	position: relative;

	button{
		font-size: 30px;
		border-radius: 10px;
		margin: 5px;
		margin-top: 20px;
		position: relative;
	}
}