.title{
	margin-top: 155px;
	margin-left: 330px;
	opacity: 0.8;

}
p{
	margin-right: 250px;
	float: right;

}
.title1, .title2, .title3, .title4, .title5, .title6, .title7 {
	opacity: 0.6;
	font-size: 20px;
}
.playlist{
	margin-left: 100px;
	opacity: 1;
	font-size: 30px;
}