@mixin opacity($opacity){
	opacity: $opacity;
}

@media (max-width: 1170px) and (min-width: 590px){
	.box{
		position: fixed;
		margin-top: 110px;
	}
		p{
		margin-right: 250px;
		margin-top: 380px;
		float: right;
	}
	.title1, .title2, .title3, .title4, .title5, .title6, .title7 {
		opacity: 0.6;
		font-size: 20px;
	}
	.playlist{
		margin-left: 100px;
		opacity: 1;
		font-size: 30px;
	}
}